[user]


[alias]
  a = add
  b = branch
  c = config
  s = status
  pl = pull
  df = diff
  cl = clone
  ps = push
  co = checkout
  cp = cherry-pick
  br = branch
  brv = branch -vv
  cm = commit
  unstage = reset HEAD --
  lo= log --oneline
  dog = log --all --decorate --oneline --graph
[http]
  proxy = socks5://localhost:1080
[https]
  proxy = socks5://localhost:1080


