[user]


[alias]
  s = status
  d = diff
  co = checkout
  br = branch
  cm = commit
  unstage = reset HEAD --
  dog = log --all --decorate --oneline --graph

[http]
	proxy = socks5://localhost:1080
[https]
	proxy = socks5://localhost:1080


